<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pc.javier.seguime">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActividadAyuda"
            android:label="@string/ayuda"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ActividadAyudaOpciones"
            android:label="@string/ayuda"
            android:parentActivityName=".ActividadOpciones" />
        <activity
            android:name=".ActividadAyudaRegresiva"
            android:label="@string/ayuda"
            android:parentActivityName=".ActividadRegresiva" />

        <activity
            android:name=".ActividadContactos"
            android:label="@string/contactos"
             />


        <activity
            android:name=".ActividadOpciones"
            android:label="@string/opciones"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ActividadRegistros"
            android:label="@string/registros"
            android:parentActivityName=".MainActivity"
            />

        <activity
            android:name=".ActividadRegresiva"
            android:label="@string/alarma"
            android:parentActivityName=".MainActivity"
            />

        <activity android:name=".ActividadSesion"
            android:label="@string/iniciarsesion"
            android:parentActivityName=".MainActivity"
            />

        <service
            android:name=".control.Servicio"
            android:enabled="true"
            android:exported="true"
            android:label="servicio"
            />
        <service
            android:name=".control.ServicioTemporizador"
            android:enabled="true"
            android:exported="true"
            android:label="servicioTemporizador"
            ></service>
    </application>

</manifest>